@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$color-white: #ffffff;
$color-light-grey: #d5e1ef;
$color-grey: #7d889e;
$color-dark-navy: #1f314f;
$color-blue-shade: #3685ff;
$color-blue: #2c7dfa;

//RESPOSIVE
$bp-small: 23.43em; //375px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    font-family: "Roboto", sans-serif;
    background-color: $color-light-grey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
